# Example Encrypted Secrets File
# This shows what a SOPS-encrypted file looks like
# Your actual secrets.enc.yaml will look similar but with real encrypted data

proxmox:
  endpoint: https://proxmox.local:8006/api2/json
  api_token_id: root@pam!terraform
  api_token_secret: ENC[AES256_GCM,data:ENCRYPTED_DATA_HERE,iv:XXXXXX==,tag:XXXXXX==,type:str]
  
vps:
  host: your-vps.example.com
  ssh_key: ENC[AES256_GCM,data:ENCRYPTED_SSH_KEY_HERE,iv:XXXXXX==,tag:XXXXXX==,type:str]
  root_password: ENC[AES256_GCM,data:ENCRYPTED_PASSWORD,iv:XXXXXX==,tag:XXXXXX==,type:str]

kubernetes:
  cluster_token: ENC[AES256_GCM,data:ENCRYPTED_TOKEN,iv:XXXXXX==,tag:XXXXXX==,type:str]
  ca_cert: ENC[AES256_GCM,data:ENCRYPTED_CERT,iv:XXXXXX==,tag:XXXXXX==,type:str]

api_keys:
  cloudflare: ENC[AES256_GCM,data:ENCRYPTED_KEY,iv:XXXXXX==,tag:XXXXXX==,type:str]
  github_token: ENC[AES256_GCM,data:ENCRYPTED_TOKEN,iv:XXXXXX==,tag:XXXXXX==,type:str]

sops:
  kms: []
  gcp_kms: []
  azure_kv: []
  hc_vault: []
  age:
    - recipient: age1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        ENCRYPTED_DATA_ENCRYPTION_KEY_HERE
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2024-01-01T00:00:00Z"
  mac: ENC[AES256_GCM,data:MAC_HERE,iv:XXXXXX==,tag:XXXXXX==,type:str]
  pgp: []
  unencrypted_suffix: _unencrypted
  version: 3.9.0
